<!-- <ul>
  <li>Pommes de terre</li>
  <li [ngStyle]="{ backgroundColor: isThisIngredientVital ? 'red' : 'yellow' }">
    Raclette
  </li>
  <li>Jambon</li>
  <li [ngClass]="{ vital: isThisIngredientVital }">Cornichons</li>
  <li>Chou-fleur</li>
</ul>

<ul *appDisplayGuests="displayGuestList">
  <li>Brenda</li>
  <li>Dylan</li>
  <li>Michel Drucker</li>
  <li>Marc Aurèle</li>
  <li>Julie</li>
</ul>

<ul>
  <li *ngFor="let caca of songList">
    {{ caca }}
  </li>
</ul>

<hr>
<h1 appHighLightDirective>Raclette Party</h1> -->

<div>
  <h1>À voir</h1>
<ul *appShowMovie="showMovie">
    <li hover-class="bigBlueText">FORREST GUMP ", DE ROBERT ZEMECKIS</li>
  <li>TITANIC ", DE JAMES CAMERON</li>
  <li>"AMERICAN HISTORY X ", DE TONY KAYE</li>
  <li>" PRETTY WOMAN ", DE GARRY MARSHALL</li>
  <li>"PULP FICTION ", DE QUENTIN TARANTINO</li>
  <li>" LA VIE RÊVÉE DE WALTER MITTY ", DE BEN STILLER</li>
  <li>" EXTRÊMEMENT FORT ET INCROYABLEMENT LOIN ", DE STEPHEN DALDRY</li>
  <li>" TOUT SUR MA MÈRE ", DE PEDRO ALMODÓVAR</li>
  <li>" PSYCHOSE ", D’ALFRED HITCHCOCK</li>
  <li>" THELMA ET LOUISE ", DE RIDLEY SCOTT</li>
</ul>
<div *ngIf="showMovie">
<button (click)="viewMovie()" >hide List</button>
</div>
<div *ngIf="!showMovie">
<button (click)="viewMovie()" >show List</button>
</div>
</div>